.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: green;
    min-width: 1900px;
}

.square {
    background-color: lightgrey;
    border: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
}

.roomName {
    color: blue;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    opacity: 0.4;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
